.todo-item {
    display: flex;
    cursor: pointer;
    gap: 8px;
    min-height: 32px;
}

.todo-item-task {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    min-height: 100%;
    gap: 8px;
}

.task-text {
    display: flex;
    align-items: center;
    height: 100%;
}

