.todo-list {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    background: var(--bg);
    border-radius: 5px;
    width: 420px;
}

.todo-title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    padding: 2px;
}

.todo-title button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease, background .1s ease; 
    padding: 8px;
    border-radius: 999px;
    left: calc(100% - 32px);
}

.todo-title:hover button {
    opacity: 1;
}

.todo-title button:hover {
    background: var(--button-hover);
}

.todo-content {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
}

.todo-content ul, .todo-content li {
    list-style: none;
}

.todo-content ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 0;
}

.todo-content li {
    background: var(--bg-light);
    padding: 4px;
}