:root {
    --bg-dark: hsl(0 0 3%);
    --bg: hsl(0 0 7%);
    --bg-light: hsl(0 0% 10%);
    --text: hsl(209 100% 96%);
    --text-muted: hsl(209 22% 70%);
    --highlight: hsl(209 15% 40%);
    --border: hsl(209 19% 29%);
    --border-muted: hsl(209 28% 18%);
    --primary: hsl(209 76% 71%);
    --primary-hovered: hsla(209, 76%, 71%, 0.7);
    --secondary: hsl(31 62% 64%);
    --danger: hsl(9 50% 64%);
    --danger-hovered: hsla(9, 50%, 64%, 0.7);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 50% 59%);
    --info: hsl(217 28% 65%);
    --header-size: 55px
}

*, body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    color: var(--text);
}