.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-overlay);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 80%;
    max-height: 80%;
}