.creator-list-action {
    display: flex;
    justify-content: end;
    gap: 8px;
}

.creator-list-action button {
    background: none;
    width: 78px;
    padding: 6px;
    border-radius: 5px;
    transition: background .2s ease;
    cursor: pointer;
    z-index: 1;
}

.creator-list-action button:first-child {
    border: 2px solid var(--danger);
}

.creator-list-action button:last-child {
    border: 2px solid var(--success);
}

.creator-list-action button:first-child:hover {
    background: var(--danger-hovered);
}

.creator-list-action button:last-child:hover {
    background: var(--success-hovered);
}